@font-face {
    font-family: 'Roboto thin';
    src: url(../fonts/Roboto-Thin.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Black';
    src: url(../fonts/Roboto-Black.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Light';
    src: url(../fonts/Roboto-Light.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hammersmith One';
    src: url(../fonts/HammersmithOne.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display Bold';
    src: url(../fonts/PlayfairDisplay-Bold.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display Regular';
    src: url(../fonts/PlayfairDisplay-Regular.otf);
    font-weight: normal;
    font-style: normal;
}