@for $i from 1 through $columns {
  .col-#{$i} {
    width: calc((100% / #{$columns}) * #{$i} - #{$gutter})
  }

  .col-offset-#{$i} {
    margin-left: calc((100% / #{$columns}) * #{$i})!important;
  }
}

[class*='col-'] {
  padding-left: $gutter / 2;
  padding-right: $gutter / 2;
  margin: 0;
  float: left;
}

.row {
  width: 100%;
  margin: 0 auto;
}

.container {
  width: 960px;
  margin: 0 auto;

  @include bp(L) {
    width: 100%;
  }
}

.container-fluid {
  width: 100%;
}

