@for $i from 1 through $columns {
  .col-#{$i} {
    width: calc((100% / #{$columns}) * #{$i} - #{$gutter})
  }

  .col-offset-#{$i} {
    margin-left: calc((100% / #{$columns}) * #{$i})!important;

    @include bp(L) {
      margin-left: 0!important;
    }
  }
}

[class*='col-'] {
  padding-left: $gutter / 2;
  padding-right: $gutter / 2;
  margin: 0;
  float: left;
  box-sizing: border-box;

  @include bp(M){
    min-width: 100%;
  }
}

.row {
  width: 100%;
  margin: 0 auto;
  @extend %clearfix;
}

.container {
  width: 960px;
  margin: 0 auto;

  @extend %clearfix;

  @include bp(L) {
    width: 100%;
  }
}

.container-fluid {
  width: 100%;
  @extend %clearfix;
}

html {
  font-size: $doc-font-size-normal;

  @include bp(L){
    font-size: $doc-font-size-mobile;
  }
}