header {
  //height: 74.44vh;
  height: calculateRem(670px);
  width: 100%;
  background: url("../images/bg-slide.jpg") no-repeat center;
  background-size: cover;

  .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    display: flex;
    align-items: center;
    font-family: "Roboto thin";
    color: #02dfd0;
    margin-left: calculateRem(10px);

    img {
      margin-right: calculateRem(11px);
    }
  }

  nav {

    float: right;
    margin-right: calculateRem(10px);
    ul {
      list-style: none;

      li {
        display: inline-block;
        margin-left: calculateRem(25px);

        a {
          font-family: "Roboto Black";
          font-size: calculateRem(13px);
          color: #ffffff;
          text-transform: uppercase;
          text-decoration: none;
        }
      }
    }
  }

  .slider {
    @include vertical-align(20%);


    .slider-track {
      text-align: center;

      .slide {
        color: #fff;

        h1 {
          margin-bottom: 0;

        }

        .separator {
          @include makeSeparator(50px, 1px, $button-color);
        }

        p {
          font-family: "Roboto Light";
          font-size: calculateRem(14px);
          color: #e3e2e8;
          margin-top: 0;
          line-height: calculateRem(26px);
        }

        button {
          @include makeButton($button-color);
        }
      }
    }
  }
}