header {
  height: calculateRem(670px);
  width: 100%;
  background: url("../images/bg-slide.jpg") no-repeat center;
  background-size: cover;

  .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;

    i {
      display: none;
    }

    @include bp(L){
      display: block;

      i {
        display: inline-block;
        color: #fff;
        float: right;
        margin-top: calculateRem(35px);
        margin-right: calculateRem(50px);
        font-size: calculateRem(25px);
      }
      .logo {
        float: left;
      }
    }
  }

  .logo {
    @include logo;
  }

  nav {

    float: right;
    margin-right: calculateRem(10px);
    ul {
      list-style: none;

      li {
        display: inline-block;
        margin-left: calculateRem(25px);

        a {
          font-family: "Roboto Black";
          font-size: calculateRem(13px);
          color: #ffffff;
          text-transform: uppercase;
          text-decoration: none;
        }
        @include bp(L){
          display: block;
          margin: 0;
          height: calculateRem(40px);
          line-height: calculateRem(40px);
          border-bottom: 1px solid rgba(#fff, 0.2);

          &:first-of-type {
            border-top: 1px solid rgba(#fff, 0.2);
          }
        }
      }

      @include bp(L){
        padding-left: 0;
        margin: 0;
      }
    }

    @include bp(L){
      float: none;
      text-align: center;
      margin-right: 0;
      background-color: #322958;
      position: absolute;
      top: 100px;
      z-index: 100;
      width: 100%;
      display: none;

    }
  }

  .slider {
    @include vertical-align(20%);


    .slider-track {
      text-align: center;

      .slide {
        color: #fff;

        h1 {
          margin-bottom: 0;

        }

        .separator {
          @include makeSeparator(50px, 1px, $button-color);
        }

        p {
          font-family: "Roboto Light";
          font-size: calculateRem(14px);
          color: #e3e2e8;
          margin-top: 0;
          line-height: calculateRem(26px);
        }

        button {
          @include makeButton($button-color);

        }
      }
    }
  }
}