@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin makeButton($color){
  font-family: "Hammersmith One";
  background-color: transparent;
  text-transform: uppercase;
  color: $color;
  border: 1px solid $color;
  border-radius: 2px;
  height: calculateRem(38px);
  width: calculateRem(118px);
  padding: 0 14px;
  margin-top: calculateRem(53px);
  cursor: pointer;
  font-size: calculateRem(14px);
}

%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin makeSeparator($sep-width, $sep-height, $color){
  height: calculateRem($sep-height);
  width: calculateRem($sep-width);
  background-color: $color;
  margin: 0 auto;
  margin-bottom: calculateRem(28px);
  margin-top: calculateRem(21px);
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin bp($point) {
  @if $point == XXL {
    @media (min-width: 1600px) { @content; }
  }
  @else if $point == XL {
    @media (max-width: 1200px) { @content; }
  }
  @else if $point == L {
    @media (max-width: 960px) { @content; }
  }
  @else if $point == M {
    @media (max-width: 850px) { @content; }
  }
  @else if $point == S {
    @media (max-width: 710px) { @content; }
  }
  @else if $point == XS {
    @media (max-width: 650px) { @content; }
  }
  @else if $point == XXS {
    @media (max-width: 400px) { @content; }
  }
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin vertical-align($percentage) {
  position: relative;
  top: $percentage;
  -webkit-transform: translateY(-$percentage);
  -ms-transform: translateY(-$percentage);
  transform: translateY(-$percentage);
}

@mixin heading-styling($color){
  font-family: "Playfair Display Bold";
  font-size: calculateRem(22px);
  text-transform: uppercase;
  color: $color;
  margin-bottom: 0;
}

@mixin paragraph-styling($color){
  font-family: "Playfair Display Regular";
  font-size: calculateRem(14px);
  color: $color;
  margin-top: 8px;
}

@mixin item-title($color, $size){
  font-family: "Roboto Black";
  font-size: calculateRem($size);
  text-transform: uppercase;
  color: $color;
}

@mixin item-desc($color, $size) {
  font-family: "Roboto Light";
  font-size: calculateRem($size);
  color: $color;
}

@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}

@mixin logo {
  display: flex;
  align-items: center;
  font-family: "Roboto thin";
  color: #02dfd0;
  margin-left: calculateRem(10px);

  img {
    margin-right: calculateRem(11px);
  }
}