.our-works {
  padding-bottom: calculateRem(70px);
  padding-top: calculateRem(70px);

  .our-work-text {
    //min-height: (157px / 740px) * 100%;
    display: flex;
    align-items: center;
    margin-bottom: calculateRem(70px);

    @include bp(M){
      display: block;
    }

    div {
      text-align: center;
    }

    h1 {
      font-family: "Playfair Display Bold";
      font-size: calculateRem(22px);
      color: #413d4b;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin: 0;
    }

    a {
      font-family: "Roboto Light";
      font-size: calculateRem(14px);
      color: #413d4b;
      text-decoration: none;

      i {
        margin-left: 3px;
      }
    }
  }

  .thumbs {
    [class*="col-"]{
      margin: 0;
      padding: 0;
      width: calc((100% / 12) * 2);
      margin-bottom: -5px;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  .works-btn {
    //min-height: (180 / 740) * 100%;
    display: flex;
    align-items: center;

    div {
      text-align: center;
    }

    button {
      @include makeButton(#00e0d0);
      width: calculateRem(140px);
      margin: 0;
      margin-top: calculateRem(70px)
    }
  }
}