// Grid

$columns: 12;
$gutter: 20px;


$button-color: #00e0d0;
$exp-header-color: #413d4b;
$exp-paragraph-color: #716e78;
$team-h1-color: #fff;
$team-p-color: #e0dee4;
$team-member-name: #f3f3f5;
$team-member-desc: #9a97a9;

$doc-font-size-normal: 16px;
$doc-font-size-mobile: 20px;